table{
   margin:auto;
}
#tbl1,th,td {
    border: 1px solid black;
    border-collapse: collapse;
   
}
 #tbl1 td {
    padding: 5px;
    text-align:left;
    }
 #tbl1 tr:last-child  td{
    text-align:center;
}
 #tbl1 td:first-child {
    text-align:center;
}
#tbl2 {
    border: 1px solid black;

}
 #tbl2 td:last-child  {
    text-align:center;
}
#tbl3 {
    border: 1px solid black;
    border-collapse: collapse;   
}
